@font-face {
  font-family: "digitalt";
  src: url("path-to-your-font/digitalt.ttf") format("truetype");
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.stats-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 25px auto;
}

.game-level-tag {
    display: inline-block;
    padding: 3px 15px;
    width: 112px;
    border-radius: 33px;
    background-color: #9F51FE;
    color: white;
    font-family: "digitalt", sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: 3px solid white;
    font-weight: 500;
    font-size: 22px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
  }
  
  /* You'll need to import the "digitalt" font using @font-face or link to a web font. */
  
 .settings-container {
    display: inline-block;
    /* margin-right: auto; */
    position: relative;
    /* margin: 25px auto; */
    /* margin-right: 500px; */

  }
  
  .settings-btn {
    /* width: 23px;
    height: 23px; */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    /* top: 100%; */
    left: 0;
    /* width: 23px; */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }
  
.settings-container:hover .dropdown {
        display: flex;
        flex-direction: column; /* Arrange buttons vertically */
        align-items: center; /* Center buttons horizontally */
        padding-top: 8px;
        gap: 8px; /* Vertical gap between buttons */
}
  
.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.countdown-container {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: "digitalt", sans-serif;
  font-size: 18px;
  margin-left: auto;
}

.clock-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.settings-container,
.countdown-container,
.game-level-tag {
  flex: 1; 
}

.game-card {
  height: 50vh; 
  width: 65vw;
  background-color: #FFFEFF;
  border: 1px solid #FFFEFF;
  border-radius: 21px;
  padding: 10px;
  display: inline-block;
  align-items: center;
}

.game-content {
  text-align: center;
  display: flex;
  flex:1;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: center; 
}

.instruction {
  color: #6F53FD;
  font-family: "digitalt", sans-serif;
  font-size: 200%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }

.sub-instruction {
  color: #B20D78;
  font-family: "digitalt", sans-serif;
  font-size: 120%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }

.guess-input {
  width: 60%;
  height: 50px;
  border-radius: 31px;
  border: none;
  background-color: #C2FDFF;
  padding: 5px 15px;
  color: #228AED;
  border: 1px solid white;
  font-family: "digitalt", sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: normal;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
}

.guess-input:focus {
  color: #228AED; 
  outline: none; 
  border: 1px solid #228AED;
}

.submit-button {
  width: 127px;
  height: 35px;
  border: none;
  border-radius: 15px;
  background-color: #C2FDFF;
  cursor: pointer;
  font-family: "digitalt", sans-serif;
  font-weight: normal;
  font-size: 19px;
  flex-shrink: 0;
  border: 3px solid white;
  background: linear-gradient(45deg, #C16DFE 0%, #C16DFE 50%, #9A4AFE 50%, #9A4AFE 100%);
  background-size: 150% 200%;
  border: 2px solid #FFF;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  color: white;
  margin-top: 20px;
}

.gameOverPopup{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  height: 50vh; 
  width: 50vw;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.gameOverText {
  font-family: "digitalt", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff; 
  -webkit-text-stroke: 2px #B20D78; 
}

.timeUp {
  color:#B20D78;
  font-family: "digitalt", sans-serif;
  transform: translate(0%, -305%);
}

.nav_buttons {
  transform: translate(0%, -105%);
}

.ribbon-svg {
  z-index: 1;
  justify-self: center;
}

.stars {
  z-index: 2;
  display: flex;
  transform: translate(0%, 25%);
  justify-content: center;
}

.ribbon-content {
  transform: translate(0%, -285%);
  z-index: 3;
  justify-content: center;
}

.radial_bg {
  transform: translate(0%, 70%);
  justify-self: center;
}

.home_btn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.redo_btn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}





