
body {
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.submit-button {
    width: 127px;
    height: 35px;
    border: none;
    border-radius: 15px;
    background-color: #C2FDFF;
    cursor: pointer;
    font-family: "digitalt", sans-serif;
    font-weight: normal;
    font-size: 19px;
    flex-shrink: 0;
    border: 3px solid white;
    background: #cc57c7;
    background-size: 150% 200%;
    border: 2px solid #FFF;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
    color: white;
    margin-top: 20px;
}

.how-to-play{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.how-to-play-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    height: 90vh; 
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

